<acl>
    <page-services-cloudflared>
        <name>WebCfg - Services: Cloudflare Tunnel</name>
        <description>Allow access to the Cloudflare Tunnel module</description>
        <patterns>
            <pattern>ui/cloudflared/*</pattern>
            <pattern>api/cloudflared/*</pattern>
        </patterns>
    </page-services-cloudflared>
</acl>
